canvas {
    width: 600px;
    height: 900px;
}

#controls {
    margin: 5px;
    text-align: center;
    font-size: 24px;
}

#controls button{ 
    width: 180px;
    margin-top: 25px;
    font-size: 24px;
}